@page
@model TenisBR.Pages.Air_Force_OneModel
@{
    ViewData["Title"] = "Air Force One";
}

<article id="artigo">
    <h1>
        Um Air Force 1 Branco Sem Marcas De Uso É A Promessa Da Nike
    </h1>

    <img src="/af.1.tm.jpg" alt="Air Force" width="400px" height="500px">

    <p>Uma das principais novidades que a NIKE trouxe para os 40 anos do AIR FORCE 1 é invisível.</p>
<p>A colorway “Fresh” abandona o couro padrão para uma construção de couro texturizado, que visa esconder os vincos que surgem com o uso e permitir uma limpeza mais fácil. A língua e a aba do calcanhar foram atualizadas com NIKE AIR em baixo relevo, enquanto uma nova palmilha perfurada oferece melhor ventilação. O visual limpo é acompanhado por uma entressola padrão totalmente branca e sola idem.</p>
<p>As vendas acontecem a partir de 15 de julho no <a href="https://www.nike.com" target="_blank" rel="noreferrer noopener">site gringo da NIKE</a>.</p>

</article>
