@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center" id="header">
    <h1 class="display-3 my-3"><b>Bem vindo ao TênisBR</b></h1>
    <p class="text-center text-muted">O site mais completo sobre moda para seus pés.</p>

    
</div>
<div id="cards-artigos" class="d-inline">
        <div class="card " style="width: 20rem;">
            <img class="card-img-top" src="/m86.1.jpg" alt="Missouri 86">
            <div class="card-body">
            <h5 class="card-title">Missouri 86</h5>
            <p class="card-text text-truncate">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            <a asp-page="M86" class="btn btn-primary">Ver artigo completo</a>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/yeezyb350.jpeg" alt="Yeezy350">
            <div class="card-body">
            <h5 class="card-title">Yeezy Boost 350v2</h5>
            <p class="card-text text-truncate">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            <a asp-page="Yeezy" class="btn btn-primary">Ver artigo completo</a>
            </div>
        </div>

         <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/af.1.tm.jpg" alt="Nike air force one">
            <div class="card-body">
            <h5 class="card-title">Air Force One</h5>
            <p class="card-text text-truncate">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            <a asp-page="Air-Force-One" class="btn btn-primary">Ver artigo completo</a>
            </div>
        </div>
</div>
