@page
@model TenisBR.Pages.M86Model
@{
    ViewData["Title"] = "Missouri 85";
}

<article id="artigo">
    <h1>O Lacoste Missouri 85 Está De Volta Ao Brasil</h1>

    <img src="/m86.1.jpg" width="400px" height="400px" alt="Missouri 85">

    <p>Quando se fala da LACOSTE, a associação imediata é feita com o esporte tênis e também com as camisas polos.</p>
<p>Porém, no universo sneakerhead, a grande conexão da marca é feita através do MISSOURI 85, um modelo nascido nas quadras de basquete e resgatado lá em 2006 pelos nossos amigos da SNEAKER FREAKER.</p>
<p>Desde então, o MISSOURI 85 tem um espaço garantido nos corações e coleções dos sneakerheads e em 2019, está de volta no Brasil!</p>
<p>Saiba mais sobre a trajetória do modelo nos últimos 15 anos abaixo.</p>
<p>O primeiro capítulo da retomada do MISSOURI 85 ficou nas mãos dos australianos da SNEAKER FREAKER em 2006. Uma primeira leva com tiragem de apenas 24 pares foi disponibilizada para alguns poucos sortudos em uma festa em NOVA YORK.</p>
<p>Logo na sequência, a edição especial ganhou lançamento comercial em lojas ao redor do mundo. Porém havia uma singela diferença entre as duas levas, a edição limitada tinha as consoantes da SNEAKER FREAKER bordadas nos painéis traseiros.</p>
<p>Um ano depois, quem teve a missão de desenhar um MISSOURI foi a KIDROBOT, conhecida por assinar alguns modelos bem valiosos no universo sneakerhead.</p>
<p>Conhecidos pela toy art, a KIDROBOT ainda criou duas edições de um REVAL e um boneco PEECOL assinado pelo artista EBOY para cada modelo, formando um grande pack.</p>
<p>Cada modelo teve uma tiragem de apenas 500 pares.</p>
<p>Chegamos em 2008, e o MISSOURI 85 teve um ano bem movimentado com três novos capítulos adicionados a sua história.</p>
<p>Em junho, a marca celebrou 75 anos de existência com um pack de modelos que faziam parte da extinta linha STEALTH, a divisão mais premium da LACOSTE.</p>
<p>Os tênis eram todos preto e branco e traziam o logo original desenhado pelo próprio criador da marca, RENÉ LACOSTE.</p>
<p>Em outubro, a revista francesa SHOES-UP teve a sua própria versão do modelo.</p>
<p>Todo preto, ele foi inspirado nas boinas pretas muito presentes no estereótipo do francês presente de PARIS, terra natal de RENÉ.</p>
<p>A tiragem foi de apenas 160 pares vendidos em pouquíssimas lojas.</p>
<p>E pra fechar 2008, os japoneses da MITA estrearam a versão MID do modelo que hoje se chama M85.</p>
<p>O modelo ficou marcado pela mistura de materiais, que incluía croco fake e um padrão hexagonal em referência às raquetes de tênis.</p>
<p>A tiragem desta versão ficou em 150 pares.</p>
<p>Apesar de 2009 não ter tido nenhuma colaboração, o ano ficou marcado para o MISSOURI graças ao pack OP que trazia três edições do modelo em um cabedal de peça única com costuras fazendo as demarcações dos painéis de uma versão tradicional.</p>
<p>Um ano depois, a loja italiana MCQUEEN, nada ligada ao estilista inglês ALEXANDER MCQUEEN, fez a sua homenagem à capital do Japão, o que acabou rendendo ao tênis o apelido &#8216;I LOVE TOKYO&#8217;.</p>
<p>Quase 10 anos depois, LACOSTE e SNEAKER FREAKER se uniram para uma nova colaboração.</p>
<p>Os australianos escolheram lojas de três países aonde a revista é publicada, FOTT (Rússia), OVERKILL (Alemanha) e 24 KILATES (Espanha). Cada loja ganhou uma versão limitada, restrita a 50 pares que foram vendidas somente na localidade correspondente.</p>
<p>Além do trio, duas outras versões ficaram a cargo da própria SNEAKER FREAKER, batizada SMART CASUAL por causa das cores azul e marrom, a primeira foi vendida apenas na ABOVE THE CLOUDS, loja de Sidney, e uma segundaFRIENDS AND FAMILY com tiragem muito menor, trazia os painéis traseiros na cor amarela e ficou restrita à loja online da própria SNEAKER FREAKER.</p>
<p>Ainda sem grandes sinais de que se preparava um grande retorno para o MISSOURI 85, no início do ano a LACOSTE levou a arte do nova-iorquino KEITH HARING para uma grande coleção.</span></p>
<p>Com peças de roupa, que foram vendidas por aqui, a coleção ainda contou com um L 12 12 e um MISSOUI 85, este de base branca todo coberto por desenhos de HARING.</span></p>
<h2>E o melhor de tudo é que o modelo está de volta no Brasil em 2019.</span></h2>
<h2>O grande retorno acontece amanhã (9/11) na GUADALUPE STORE, e para celebrar a volta, a LACOSTE preparou um coquetel na HEAT DELI, vizinha da loja, que começa às 15h e vai até as 19h. A GUADALUPE STORE fica na Rua Três Rios, 126, Bom Retiro em São Paulo.</span></h2>

</article>

