@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class="text-danger text-center my-5">@ViewData["Title"]</h1>

<p class="text-info my-5">Nós não vendemos sua informação nem nenhum dado inserido nos formulários em nossos domínios.</p>


<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-danger text-center mx-auto" href="">Voltar à página principal</button>
